body{height: 98vh;}
#wrapper{overflow-y: auto;height: calc(100% - 105px);}

/* .panier-produit{
    border-bottom: 1px solid grey;
}
.produit-datas{
    display: flex;
    flex-direction: column;
} */
